footer {
    background-color: black;
    color: #faf9f6;
    .footer-form-container {
        padding-block: 6% 1.5%;
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        color: #faf9f6;
        max-width: 1280px;
        width: 90vw;
        margin: auto;
        .left {
            display: flex;
            flex-direction: column;
            font-size: var(--p-text-big);
            gap: 10px;
            .upper {
                width: 100%;
                display: flex;
                box-sizing: content-box;
                height: calc(var(--p-text-big));
                .words {
                    overflow: hidden;
                    margin-bottom: -10px;
                }
                .words span {
                    font-size: var(--p-text-big);
                    font-weight: bold;
                    height: 110%;
                    display: block;
                    padding-left: clamp(0.3em, 0.5vw, 0.8em);
                    animation: spin_words 5s infinite;
                    /* background: url("../asset/underline.png") no-repeat bottom; */
                }
                @keyframes spin_words {
                    8% {
                        transform: translateY(-105%);
                    }
                    20% {
                        transform: translateY(-99%);
                    }
                    28% {
                        transform: translateY(-205%);
                    }
                    40% {
                        transform: translateY(-199%);
                    }
                    48% {
                        transform: translateY(-305%);
                    }
                    60% {
                        transform: translateY(-299%);
                    }
                    68% {
                        transform: translateY(-405%);
                    }
                    80% {
                        transform: translateY(-399%);
                    }
                    88% {
                        transform: translateY(-505%);
                    }
                    100% {
                        transform: translateY(-499%);
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 20em;
            :nth-child(4) {
                width: fit-content;
            }
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            .left {
                // flex-direction: row;
                justify-content: center;
                font-size: clamp(1.2em, 2vw, 2em);
                margin-bottom: 2%;
                .upper {
                    width: fit-content;
                    height: clamp(1.2em, 2vw, 2em);
                    .words {
                        span {
                            font-size: clamp(1em, 2vw, 2em);
                            text-align: left;
                        }
                    }
                }
            }
            .right {
                :nth-child(4) {
                    margin: auto;
                }
            }
        }
    }

    .upper {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-bottom: -2%;
        :nth-child(7) {
            margin-right: -3%;
        }
        span {
            font-weight: bold;
            height: fit-content;
            font-size: 17vw;
            margin-inline: -1%;
        }
    }
    .lower {
        font-size: var(--footer-text);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1%;
        padding-bottom: 5%;
        .mid {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 4px;
            .menu-item {
                position: relative;
                display: flex;
                ::before {
                    content: " ";
                    position: absolute;
                    width: 0%;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    background-color: white;
                    transition: 0.5s ease;
                }
                :hover::before {
                    width: 100%;
                }
            }
        }
        .right {
            text-align: right;
        }
    }
    .copyright {
        height: 55px;
        margin-top: -3%;
        font-size: clamp(0.2em, 1.6vw, 1em);
        display: flex;
        color: rgb(81, 81, 81);
        justify-content: center;
        align-items: center;
    }
}
