section.experience .card {
    display: flex;
    gap: 10px;
    /* height: 250px; */
    margin-bottom: 20px;
}
section.experience .card .line {
    height: inherit;
    width: 5px;
    background-color: black;
}

section.experience .card-content {
    height: 100%;
    display: flex;
    gap: 10px;
}
section.experience .card-content .description {
    width: 50%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.experience .card-content .description .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
section.experience .card-content .description h2 {
    font-weight: 500;
    font-size: var(--p-text-about);
}
section.experience .card-content .description h3 {
    font-size: var(--p-text-normal);
}
section.experience .card-content .description p {
    font-size: var(--p-fixed);
    text-align: justify;
}
section.experience .card-content .description .tech-stack > * {
    height: clamp(15px, 2vw, 25px);
}
section.experience .card-content .image {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    margin: auto;
    position: relative;
    overflow: hidden;
}
section.experience .card-content .image:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    section.experience .card {
        /* height: 500px; */
    }
    section.experience .card .line {
    }
    section.experience .card-content {
        flex-direction: column;
    }
    section.experience .card-content .description,
    section.experience .card-content .image {
        width: 100%;
    }
    section.experience .card-content .image {
        border-radius: 5px;
    }
}

/* cover image hover  covernya nutup dari bawah*/
.cover {
    /* background: rgba(240, 240, 240, 0.8); */
    background-image: url("https://cdn.discordapp.com/attachments/1000437373240361102/1064894831991738398/white.png");
    background-size: cover;
    opacity: 0.95;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 150%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
    backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.cover.covered {
    top: 50%;
}

/* cover image hover dissolve */
/* .cover {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    font-weight: 500;
}
.cover.covered {
    background: rgba(230, 230, 230, 0.75);
    color: black;
    backdrop-filter: blur(2px);
} */
