@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

a {
    color: inherit;
    text-decoration: none;
}
:root {
    --adham-farid-text: clamp(2em, 7vw, 6em);

    --navbar-text: clamp(1em, 2vw, 1.2em);
    --p-text-big: clamp(0.9em, 2vw, 2em);
    --p-text-about: clamp(1em, 1.7vw, 1.8em);
    --p-text-normal: clamp(1em, 1.5vw, 1.6em);
    --p-fixed: clamp(0.9em, 1.7vw, 1.2em);

    --margin: clamp(10px, 2vw, 30px);
}

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.nav {
    /* height: 100px; */
    height: 60px;
    position: fixed;
    width: 100%;
    transition: all 0.8s ease;
    color: white;
    mix-blend-mode: difference;
}
.nav.sticky {
    height: 60px;
}

.nav .center {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 90vw;
    margin-inline: auto;
}
.nav.sticky .center {
    position: relative;
}
.nav .center .left {
    display: flex;
    align-items: center;
    font-size: var(--navbar-text);
    transition: all 0.8s ease;
    position: relative;
    width: 100%;
    column-gap: 10px;
}
.nav.sticky .center .left {
}
.nav .center .left .text-logo {
    /* opacity: 0; */
    transition: 0.8s ease;
    /* position: absolute; */
    color: white;
    mix-blend-mode: difference;
}
.nav.sticky .center .left .text-logo {
    /* opacity: 1; */
}
.nav .center .left .image-logo {
    display: flex;
    align-items: center;
    width: var(--navbar-text);
    height: var(--navbar-text);
    /* transition: 0.8s ease; */
    /* position: absolute; */
    /* margin-left: -100px; */
    color: white;
}
.nav .center .left .image-logo {
    /* filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(226deg)
        brightness(105%) contrast(102%); */
    mix-blend-mode: difference;
}

.nav .center .menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}
.nav .center .menu-list .menu-item {
    position: relative;
    font-size: var(--navbar-text);
    display: flex;
}
.nav .center .menu-list .menu-item::before {
    content: " ";
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: white;
    transition: 0.5s ease;
}
.nav .center .menu-list .menu-item:hover::before {
    width: 100%;
}
.body.scrollDisabled {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .nav .center .menu-bar {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        cursor: pointer;
        justify-content: center;
        position: relative;
        width: clamp(20px, 4vw, 30px);
    }
    .nav .center .menu-bar > * {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.8s ease;
    }
    .nav.unset .center .menu-bar > * {
        background-color: black;
    }
    .nav .center .menu-bar > *:nth-child(1).active {
        transform: rotate(45deg);
        position: absolute;
    }
    .nav .center .menu-bar > *:nth-child(2).active {
        transform: rotate(-45deg);
        position: absolute;
    }
    .nav .center .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        /* top: 100px; */
        top: 60px;
        right: -100vw;
        width: 50vw;
        height: 50vh;
        row-gap: 24px;
        padding: var(--p-text-big);
        /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25); */
        transition: all 0.8s ease;
        background-color: black;
        z-index: 5;
    }
    .desktop {
        display: none;
    }
    .nav.unset {
        /* color: black; */
        mix-blend-mode: unset;
    }
    .nav.unset .center .left .image-logo {
        /* filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(226deg)
            brightness(105%) contrast(102%); */
        mix-blend-mode: unset;
    }
    .nav.unset .center .left .text-logo {
        /* opacity: 0; */
        transition: 0.8s ease;
        /* position: absolute; */
        color: black;
        mix-blend-mode: unset;
    }
    .nav .center .menu-list > * {
        /* margin-top: -60px; */
    }
    .nav.sticky .center .menu-list {
        top: 60px;
    }
    .nav .center .menu-list.active {
        right: 0;
    }
}

section {
    max-width: 1280px;
    width: 90vw;
    margin: auto;
    padding-top: var(--p-fixed);
    padding-bottom: var(--p-fixed);
}
/* ||| section hero */
section.hero-wrapper {
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
}
.hero {
    height: calc(100vh - 100px);
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero > * {
    /* height: 30%; */
}
.hero .mid {
    height: 30%;
}
.hero .upper {
    width: 65%;
}
.hero .upper .wrapper {
    display: flex;
    box-sizing: content-box;
    height: calc(var(--p-text-big) + 10px);
}
.hero .upper .wrapper .words {
    overflow: hidden;
}
.hero .upper .wrapper .words span {
    font-size: var(--p-text-big);
    font-weight: 500;
    line-height: 1.2em;
    height: 100%;
    display: block;
    padding-left: clamp(0.3em, 0.5vw, 0.8em);
    animation: spin_words 6s infinite;
    /* background: url("../asset/underline.png") no-repeat bottom; */
}
@keyframes spin_words {
    10% {
        transform: translateY(-107%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-207%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-307%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-407%);
    }
    100% {
        transform: translateY(-400%);
    }
}
.hero .lower {
    text-align: right;
    width: 100%;
    justify-content: flex-end;
    line-height: var(--adham-farid-text);
}
.hero .lower .nama-adham {
    width: 100%;
    float: right;
}
.hero h2 {
    font-size: var(--adham-farid-text);
    font-weight: 500;
}
.hero p {
    font-size: var(--p-text-big);
    font-weight: 200;
    line-height: 1.2em;
}
@media screen and (max-width: 768px) {
    .hero .upper,
    .hero .lower,
    .hero .mid {
        width: 100%;
    }
    .hero .lower {
        text-align: left;
    }
}
/* ||| section about me */
section.about-me {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

section.about-me .wrapper {
    /* width: 40%; */
    /* position: relative; */
}
section.about-me .wrapper .wrapper-fixed {
    height: 100%;
}
section.about-me .wrapper .wrapper-fixed .fixed {
    top: 25vh;
    position: -webkit-sticky;
    position: sticky;
}
section.about-me .wrapper .wrapper-fixed .fixed {
    font-weight: 400;
    font-size: var(--p-fixed);
}
section.about-me .content {
    display: block;
    width: 70%;
    text-align: justify;
    font-size: var(--p-text-about);
}
section.about-me .content .upper {
    font-weight: 500;
    margin-bottom: 15px;
}
section.about-me .content .lower {
    font-weight: 200;
}
@media screen and (max-width: 500px) {
    section.about-me {
        display: flex;
        flex-direction: column;
    }
    section.about-me .content {
        width: 100%;
    }
    section.about-me .wrapper .wrapper-fixed .fixed {
        font-weight: 500;
        font-size: var(--p-fixed);
    }
}

section.experience .outer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin);
}
section.experience .h2-title {
    text-align: center;
    font-weight: 500;
    font-size: var(--p-text-big);
}
section.experience .outer .content {
    width: 85%;
}
section.experience .outer .wrapper .wrapper-fixed {
    height: 100%;
}
section.experience .outer .wrapper .wrapper-fixed .fixed {
    top: 25vh;
    position: -webkit-sticky;
    position: sticky;
    font-weight: 400;
    font-size: var(--p-fixed);
}
@media screen and (max-width: 480px) {
    section.experience .outer .wrapper .wrapper-fixed {
    }
    section.experience .outer .wrapper .wrapper-fixed .fixed {
        transform: rotate(-90deg);
        left: 0;
    }
    section.experience .outer .wrapper .wrapper-fixed .fixed p {
        text-align: right;
    }
}
