section.wrapper-the-journey {
    position: relative;
    padding-top: 80px;
    .the-journey-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        position: sticky;
        top: 0;
        color: white;
        mix-blend-mode: difference;
        z-index: 1;
        h2 {
            font-size: calc(var(--adham-farid-text) * 1.2);
        }
    }
}
