section.wrapper-the-journey {
    position: relative;
    .the-journey-title {
        position: sticky;
        top: 0;
        width: 100%;
        color: white;
        mix-blend-mode: difference;

        z-index: 5;
        h2 {
            font-size: var(--adham-farid-text);
        }
    }
}
